<div id="lookupTableFakturxls" class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th class="text-center">
                    Tax Invoice No
                </th>
                <th class="text-center">
                    Tax Invoice Date
                </th>
                <th class="text-center">
                    Tax Amount
                </th>
            </tr>
        </thead>
        @if (ViewData["eFakturList"] != null)
        {
            foreach (var item in (List<consumable.Models.EFaktur.EFaktur>)ViewData["eFakturList"])
            {
            <tr>
                <td class="text-center cursor-link" onclick="javascript:onLookupSelectedxls('@item.TAX_INVOICE_NO','@(item.TAX_INVOICE_DT.HasValue ? item.TAX_INVOICE_DT.Value.ToString("dd.MM.yyyy") : string.Empty)','@item.VAT_PRICE.ToString("N0")')">
                    @item.TAX_INVOICE_NO
                </td>
                <td class="text-center cursor-link" onclick="javascript:onLookupSelectedxls('@item.TAX_INVOICE_NO','@(item.TAX_INVOICE_DT.HasValue ? item.TAX_INVOICE_DT.Value.ToString("dd.MM.yyyy") : string.Empty)','@item.VAT_PRICE.ToString("N0")')">
                    @*@item.TAX_INVOICE_DT.ToString("dd.MM.yyyy")*@
                    @(item.TAX_INVOICE_DT.HasValue ? item.TAX_INVOICE_DT.Value.ToString("dd.MM.yyyy") : string.Empty)
                </td>
                <td class="text-right cursor-link" onclick="javascript:onLookupSelectedxls('@item.TAX_INVOICE_NO','@(item.TAX_INVOICE_DT.HasValue ? item.TAX_INVOICE_DT.Value.ToString("dd.MM.yyyy") : string.Empty)','@item.VAT_PRICE.ToString("N0")')">
                    @item.VAT_PRICE.ToString("N0")
                </td>
            </tr>
            }
        }
    </table>
    <div class="col-xs-6" style="margin-top: 5px;"></div>
    @Html.Partial("_UIPagingLookupEfakturExcel")
    <script type="text/javascript" language="javascript">
        $(".IndexPagingLookupxls").click(function () {
            var pg = $(this).attr('Page');
            //alert(pg);
            onLookupEfakturxls(pg);
        });
    </script>
</div>
