@using consumable.Models.InvoiceCreation;
@using consumable.Commons.Constants;
@using consumable.Models.SUPPLIER
@using consumable.Models.SystemProperty;

@*Modal popup Preview Invoice [start] *@

<div id="modal-preview-invoice" class="modal fade" style="overflow-y: scroll;">
    <div class="modal-dialog modal-md" style="width: 1000px;">
        @*1100px;*@
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                <span aria-hidden="true">
                    <img src="@Url.Content("~/Content/Bootstrap/img/question.png")" class="modal-icon" />
                </span>
                <span class="sr-only">Close</span>
            </div>
            <h4 class="modal-title" id="popup-title">
                Invoice Verification
            </h4>
        </div>
        <div class="modal-body">
            @*<form role="form" class="form-horizontal">*@
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="col-xs-12 col-sm-6 col-md-6">

                            @*PO Categories 20200514*@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    PO Categories
                                </label>
                                <div class="col-xs-8 col-sm-9 col-md-7">
                                    @*<input type="checkbox" />*@
                                    <div class="col-xs-8 col-sm-9 col-md-4">
                                        <input type="radio" name="poCategory" class="poCategoryGoods" value="Goods" style="margin-left: -10px; margin-top: 8px" disabled/>
                                        Goods
                                    </div>
                                    <div class="col-xs-8 col-sm-9 col-md-4">
                                        <input type="radio" name="poCategory" class="poCategoryServices" value="Services" style="margin-left: -10px; margin-top: 8px" disabled/>
                                        Services
                                    </div>
                                </div>
                            </div>
                            @* Invoice No *@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    Invoice No
                                </label>
                                <div class="col-xs-8 col-sm-9 col-md-7">
                                    <input id="invoiceNo" class="form-control " type="text" value="" maxlength="16" disabled/>
                                    <input id="invoiceId" class="form-control " type="text" value="" style="display: none" maxlength="16"  hidden/>
                                    <input id="supplierCd" class="form-control " type="text" value="" style="display: none" maxlength="16" hidden/>
                                    <input id="invoiceStatus" class="form-control " type="text" value="" style="display: none" maxlength="16" hidden/>
                                </div>
                            </div>
                            @* Invoice Date *@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    Invoice Date
                                </label>
                                <div class="col-xs-8 col-sm-9 col-md-7" style="cursor: pointer;">
                                    <div class="input-group customDatePicker" style="width: 100%;">
                                        <input class="form-control date-picker" id="invoiceDate" type="text" data-date-format="dd.mm.yyyy" disabled/>
                                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    </div>
                                </div>
                            </div>
                            @* Turn Over *@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    Turn Over
                                </label>
                                <div class="col-xs-8 col-sm-9 col-md-7">
                                    <input id="turnOver" class="form-control" type="text" value="" readonly style="text-align: right;" />
                                </div>
                            </div>
                            @* Tax Base *@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    Tax Base
                                </label>
                                <div class="col-xs-8 col-sm-9 col-md-7">
                                    <input id="taxBase" class="form-control" type="text" value="" style="text-align: right;"
                                           onkeyup="numberFormat(this); calculateAll();" disabled/>
                                </div>
                            </div>
                            @* Calculate Tax *@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    Calculate Tax
                                </label>
                                @* edit fid.riani (20220427) --> ganti hardcode ke system master *@
                                <div class="col-xs-8 col-sm-9 col-md-7" id="div_calculate_tax">
                                    @foreach (var item in (List<string>)ViewData["TaxCalList"])
                                        {
                                            string specials = "caltaxidscreen" + @item.Split(':')[1].ToString();
                                            string defaults = "caltaxidscreen" + @item.Split(':')[1].ToString();
                                            string tax = "calTax"+@item.Split(':')[1].ToString();
                                            if (item.Split(':')[0].ToString() == ViewData["specialtaxcalculates"].ToString())
                                            {
                                                specials = "special";
                                            }
                                            if (item.Split(':')[0].ToString() == ViewData["defaulttaxcalculates"].ToString())
                                            {
                                                defaults = "default";
                                            }
                                            <div class="col-xs-8 col-sm-9 col-md-3" id="@specials" name="@defaults">
                                                <input type="radio" name="calTax calTaxScreen" value="@item.Split(':')[0].ToString()" style="margin-left: -10px; margin-top: 8px" onclick="calculateAll();" class="@tax" disabled/>@item.Split(':')[0].ToString() %
                                            </div>                                            
                                        }
                                    @*<input type="checkbox" />*@
                                    @*<div class="col-xs-8 col-sm-9 col-md-3">
                                        <input type="radio" name="calTax" value="10" style="margin-left: -10px; margin-top: 8px"
                                               onclick="calculateAll();" class="calTax1" disabled />
                                        10 %
                                    </div>*@
                                    @*<div class="col-xs-8 col-sm-9 col-md-3">
                                        <input type="radio" name="calTax" value="1" style="margin-left: -10px; margin-top: 8px"
                                               onclick="calculateAll();" class="calTax2" disabled/>
                                        1 %
                                    </div>*@
                                    @*<div class="col-xs-8 col-sm-9 col-md-3">
                                        <input type="radio" name="calTax" value="0" style="margin-left: -10px; margin-top: 8px"
                                               onclick="calculateAll();" class="calTax3" disabled/>
                                        0 %
                                    </div>*@
                                </div>
                            </div>
                            @*witholding tax code 20200514*@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    Withholding Tax Code
                                </label>
                                <div class="col-xs-8 col-sm-9 col-md-5">
                                    <div class="input-group" style="width: 100%;">
                                        <select id="withHoldingTax" class="cursor-1" disabled>
                                            <option value=""></option>
                                            @foreach (var item in (List<consumable.Models.GLAccount.GLAccount>)ViewData["WitholdingTaxList"])
                                            {
                                                <option value="@item.CODE">
                                                    @item.CODE -
                                                    @item.NAME
                                                </option>
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                            @* Stamp Included *@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    Stamp Included
                                </label>
                                <div class="col-xs-8 col-sm-9 col-md-7">
                                    <input id="checkboxStamp" class="checkboxStamp" type="checkbox" style="margin-top: 8px"
                                           onclick="calculateAll()" disabled />
                                </div>
                            </div>
                            @* Total Amount *@
                            <div class="form-group form-group-xs">
                                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                    Total Amount
                                </label>
                                <div class="col-xs-8 col-sm-9 col-md-7">
                                    <input id="totalAmount" class="form-control" type="text" value="" readonly style="text-align: right;" />
                                </div>
                            </div>

                            @* Attachment New Update *@
                                <div class="form-group form-group-xs" style="margin-top:25px;">
                                    <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted" style="text-align:left;">
                                        Attachment
                                    </label>
                                    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
                                        <div style="border: 1pt solid #ccc;">
                                            <div id="tScrollHead" style="overflow: scroll; height: 180px;">
                                                <table id="table_attachment" class="table table-striped table-bordered table-condensed table-fixed"
                                                       style="width: 550px; max-width: 550px !important;">
                                                    <thead>
                                                        <tr>
                                                            <th width="50px">No</th>
                                                            <th width="120px">Action</th>
                                                            <th width="120px">Document Type</th>
                                                            <th width="230px">File Name</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @{ 
                                                        int i = 1;
                                                        foreach (var item in (List<SystemProperty>)ViewData["AttachmentDocTypeList"])
                                                        {
                                                            <tr>
                                                                <td width="50px" class="text-center">@i</td>
                                                               <td width="120px" class="text-center cursor-link">
                                                                  <a onclick="addAttachment('@item.SYSTEM_CD');"><i class="fa fa-plus-circle"></i> Add </a>
                                                                  <text> | </text>
                                                                  <a onclick="deleteAttachment('@item.SYSTEM_CD');return false;"><i class="fa fa-trash-o"></i> Delete </a>
                                                               </td>
                                                                @if (item.SYSTEM_VALUE_TEXT == "M")
                                                                {							         
                                                                    <td width="150px" class="text-left"><text style="color:red;">*@item.SYSTEM_CD.Replace("_", " ")</text></td>
                                                                }
                                                                else
                                                                {
                                                                    <td width="150px" class="text-left">@item.SYSTEM_CD.Replace("_", " ")</td>
                                                                }
                                                                <td width="230px" class="text-left cursor-link">
                                                                    <a onclick="viewAttachment('@item.SYSTEM_CD');">
                                                                    <text id="@item.SYSTEM_CD.Replace("/","_")"></text>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            i++;
                                                        }
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                @* Button upload *@ @*<div class="form-group form-group-xs">
                                        <div class="col-xs-8 col-sm-9 col-md-12">
                                            <button type="button" title="Upload" id="btn-upload-EFaktur" class="fa fa-upload btn btn-warning btn-xs pull-right"
                                                onclick="javascript:uploadEFaktur()">
                                                <span style="font-family: Open Sans; font-size: 12px">Upload eFaktur</span>
                                            </button>
                                        </div>
                                    </div>*@ @* eFaktur No *@
                                    <div class="form-group form-group-xs">
                                        <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                            eFaktur No
                                        </label>
                                        @* <div class="input-group input-group-xs col-xs-8 col-sm-9 col-md-7">
                                                <input id="taxNo" class="form-control" type="text" value=""
                                                    placeholder="Select tax no.">
                                                    <span class="input-group-btn">
                                                        <button id="btnlookupefaktur" class=" btn btn-default btn-xs" type="button">
                                                            <i class="fa fa-search"></i></button>
                                                    </span>
                                            </div>*@
                                        <div class="col-xs-8 col-sm-9 col-md-7" style="cursor: pointer;">
                                            <div class="input-group" style="width: 100%;">
                                                <input id="taxNo" class="form-control" type="text" value="" placeholder="Select tax invoice no"
                                                       readonly />
                                                <span class="input-group-btn">
                                                    <button id="btnlookupefaktur" class=" btn btn-default btn-xs" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    @* eFaktur Date *@
                                    <div class="form-group form-group-xs">
                                        <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                            eFaktur Date
                                        </label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input class="form-control" id="TaxDate" type="text" data-date-format="dd.mm.yyyy"
                                                   readonly />
                                        </div>
                                    </div>
                                    @* eFaktur Amount *@
                                    <div class="form-group form-group-xs">
                                        <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                            eFaktur Amount
                                        </label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input id="taxAmount" class="form-control" type="text" value="" readonly style="text-align: right;" />
                                        </div>
                                    </div>
                                    @* Invoice Tax Amount *@
                                    <div class="form-group form-group-xs">
                                        <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                            Invoice Tax Amount
                                        </label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input id="invoiceTaxAmount" class="form-control" type="text" value="" readonly style="text-align: right;" />
                                        </div>
                                        <span id="ToleranceValue" style="display:none"></span>
                                    </div>
                                    @* Total GR Item *@
                                    <div class="form-group form-group-xs">
                                        <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">
                                            Total GR Item
                                        </label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input id="totalDeliveryNote" class="form-control" type="text" value="" readonly
                                                   style="text-align: right;" />
                                        </div>
                                    </div>

                                    @* Notice Chat *@
                                    <div class="form-group form-group-xs" style="margin-top:40px; margin-left:55px;">
                                        <label class="col-xs-4 col-sm-3 col-md-5 text-muted">
                                            Notice Chat :
                                        </label>
                                        <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:15px;">
                                            <textarea maxlength="100" class="form-control" id="noticeChat" rows="4" style="resize:none;"></textarea>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <button id="notice" class="btn btn-warning btn-xs pull-right" style="width: 100px;" onclick="javascript:notice()">
                                                Notice
                                            </button>
                                        </div>
                                    </div>

                                    @* Notice History *@
                                    <div class="form-group form-group-xs" style="margin-left:55px;">
                                        <label class="col-xs-4 col-sm-3 col-md-5 text-muted">
                                            Notice History :
                                        </label>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div id="containerChat" style="height: 180px;border: grey solid;border-width: 1px;overflow: scroll;">
                                              
                                              
                                           </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    @*</form>*@
        <div class="row" style="text-align: right; padding-right: 0px; padding-top: 5px;
                    margin-top: 10px; margin-right: 2px;">

           @if (!Html.Toyota().Authorization.IsUserHasRole("Liv_ISTD_Helpdesk"))
           {
              <button id="saveInvoiceBtn" type="button" class="btn btn-primary btn-xs" style="width: 100px;" onclick="javascript:saveInvoicePopup()">
                 Save
              </button>
              if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("InvoiceInquiry", "verifyInvBtn"))
              {
                 <button id="verifyBtn" type="button" class="btn btn-primary btn-xs" style="width: 100px;" onclick="javascript:verifyPopup()">
                    Verify
                 </button>
              }
           }
              <button id="closeInvoiceBtn" class="btn btn-danger btn-xs" data-dismiss="modal" style="width: 60px;">
                 Close
              </button>
           </div>
                </div>
            </div>
        </div>
        @*@Html.Partial("_LookupEFaktur")*@
    </div>
    @*Modal popup Preview Invoice [end] *@

    @*Modal popup Upload Attachment [START]*@
    <div id="modal-upload-attachment" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="titleAttachment">
                        Upload Attachment
                    </h4>
                </div>
                <form id="uploadAttachment" role="form" class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div>
                                    <input id="attachmentType" class="hide" type="text" />
                                    <input id="attachmentFile" type="file" name="file" class="filestyle" data-buttonname="btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm" value="Upload"></input>
                        <button class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*Modal popup Upload Attachment [END]*@

    <div id="delete-confirm" class="modal fade">
        <div class="modal-dialog modal-md" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                        <span aria-hidden="true">
                            <img src="@Url.Content("~/Content/Bootstrap/img/question.png")" class="modal-icon" />
                        </span>
                        <span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title" id="popup-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input id="delete-attachment" class="hide" type="text" />
                    <div class="row" style="padding-left: 10px;">
                        Are you sure wanna delete this file?
                    </div>
                    <div class="row" style="text-align: right; padding-right: 10px; margin-top: 10px;">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;" onclick="confirmDeleteAttachment()">Yes</button>
                        <button class="btn btn-danger btn-xs" data-dismiss="modal" style="width: 60px;">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-confirmPopup" class="modal fade">
        <div class="modal-dialog modal-md" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                        <span aria-hidden="true">
                            <img src="@Url.Content("~/Content/Bootstrap/img/question.png")" class="modal-icon" />
                        </span>
                        <span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">
                        Confirmation
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="row" style="padding-left: 10px;">
                            Are you sure want to save this data?
                        </div>
                        <div class="row" style="text-align: right; padding-right: 10px; margin-top: 10px;">
                            <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;"
                                    onclick="javascript: confirmSavePopup()">
                                Yes
                            </button>
                            <button class="btn btn-danger btn-xs" data-dismiss="modal" style="width: 60px;">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="verify-confirmPopup" class="modal fade">
        <div class="modal-dialog modal-md" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                        <span aria-hidden="true">
                            <img src="@Url.Content("~/Content/Bootstrap/img/question.png")" class="modal-icon" />
                        </span>
                        <span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">
                        Confirmation
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="row" style="padding-left: 10px;">
                            Are you sure want to verify?
                        </div>
                        <div class="row" style="text-align: right; padding-right: 10px; margin-top: 10px;">
                            <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;"
                                    onclick="javascript: confirmVerifyPopup()">
                                Yes
                            </button>
                            <button class="btn btn-danger btn-xs" data-dismiss="modal" style="width: 60px;">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="error-confirm" class="modal fade">
        <div class="modal-dialog modal-md" style="width: 300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                        <span aria-hidden="true">
                            <img src="@Url.Content("~/Content/Bootstrap/img/Error.png")" class="modal-icon" />
                        </span><span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">
                        Error
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-left: 10px;">
                        <div id="msgErrorId">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row" style="text-align: right; padding-right: 10px; padding-top: 15px;">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="success-confirm" class="modal fade">
        <div class="modal-dialog modal-md" style="width: 300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                        <span aria-hidden="true">
                            <img src="@Url.Content("~/Content/Bootstrap/img/information.png")" class="modal-icon" />
                        </span><span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">
                        Information
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-left: 10px;">
                        <div id="msgSuccessId">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row" style="text-align: right; padding-right: 10px; padding-top: 15px;">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="warning-confirm" class="modal fade">
        <div class="modal-dialog modal-md" style="width: 300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                        <span aria-hidden="true">
                            <img src="@Url.Content("~/Content/Bootstrap/img/Warning.png")" class="modal-icon" />
                        </span>
                        <span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">
                        Warning
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-left: 10px;">
                        <div id="msgWarningId">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row" style="text-align: right; padding-right: 10px; padding-top: 5px;">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="selected-info" class="modal fade">
        <div class="modal-dialog modal-md" style="width: 300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                        <span aria-hidden="true">
                            <img src="@Url.Content("~/Content/Bootstrap/img/information.png")" class="modal-icon" />
                        </span>
                        <span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">
                        Information
                    </h4>
                    <div class="modal-body">
                        <div class="row" style="padding-left: 10px;">
                            <div id="msgInfoId">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row" style="text-align: right; padding-right: 10px; padding-top: 5px;">
                            <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">
                                OK
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    var gTagUploadFileNameStr = null;
    var gTagUploadFileNameServerStr = null;
    var gTagUploadDeleteStr = null;
    var gThisObj = null;

    //202005 onchange po category
    $(document).on('change', 'input[name=poCategory]', function () {
        var datasupp = $(this).attr('data-supp');//modif 20200910
        console.log('Suplier COde = ' + datasupp);
        //edit fid.riani(20220427)-->ubah hardcode jadi system master
        //$(".calTax3").attr("disabled", false);
        var sptax = $("#div_calculate_tax").children('div#special').children().attr('class');
        $("." + sptax).attr("disabled", false);

        $("#withHoldingTax").removeClass("mandatory");
        $("#withHoldingTax").val('');
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("getValidVATWHT")",
            data: {
                suppCode : datasupp //modif 20200910
            },
            success: function (data) {
                if ((data == '1') && ($(".poCategoryServices").prop("checked"))) {
                    //edit fid.riani (20220427)
                    //$(".calTax3").attr("disabled", true);
                    $("." + sptax).attr("disabled", true);
                    newWhtValid(datasupp);//modif 20200910
                }

                if ((data == '1') && ($(".poCategoryGoods").prop("checked"))) {
                    newWhtValid(datasupp);//modif 20200910
                }

                if ((data == '2') && ($(".poCategoryServices").prop("checked"))) {
                    //edit fid.riani (20220427)
                    //$(".calTax3").attr("disabled", true);
                    $("." + sptax).attr("disabled", true);
                    $("#withHoldingTax").addClass("mandatory");
                    newWhtValid(datasupp);//modif 20200910
                }

                if ((data == '2') && ($(".poCategoryGoods").prop("checked"))) {
                    newWhtValid(datasupp);//modif 20200910
                }

                if ((data == '3') && ($(".poCategoryServices").prop("checked"))) {
                    newWhtValid(datasupp);//modif 20200910
                }

                if ((data == '4') && ($(".poCategoryServices").prop("checked"))) {
                    $("#withHoldingTax").addClass("mandatory");
                    newWhtValid(datasupp);//modif 20200910
                }

                if ((data == '4') && ($(".poCategoryGoods").prop("checked"))) {
                    newWhtValid(datasupp);//modif 20200910
                }

                if ((data == '5') && ($(".poCategoryServices").prop("checked"))) {
                    newWhtValid(datasupp);//modif 20200910
                }

                if ((data == '5') && ($(".poCategoryGoods").prop("checked"))) {
                    newWhtValid(datasupp);//modif 20200910
                }

            }
        });

    })
    // Function radio button calculate tax [start]
    function calcTax(valCalTax) {

        if ($("#taxBase").val() != '') {
            var amount = removeCommas($("#taxBase").val());
            var tax = (valCalTax / 100) * parseFloat(amount);

            $("#invoiceTaxAmount").val(numberWithCommas(tax));

            var totalAmount = parseFloat(amount) + tax;
            $("#totalAmount").val(numberWithCommas(totalAmount));
        }
        else
        {
            $("#msgWarningId").text("Tax Base amount must be filled");
            $("#warning-confirm").modal();
        }

        if(valCalTax==0)
        {
            $("#btnlookupefaktur").prop('disabled', true);
            $("#taxNo").val('');
            $("#TaxDate").val('');
            $("#taxAmount").val(0);
        }
        else
        {
            $("#btnlookupefaktur").prop('disabled', false);
        }
    }
    // Function radio button calculate tax [end]

    // Function textbox calculate tax [start]
    function calculateInvoiceTax(valTaxBase) {
        if(valTaxBase!='') {
            var valCalTax = 0;
            //edit fid.riani(20220427)
            //if($(".calTax1:checked").length==1) {
            //    valCalTax = $(".calTax1").val();
            //}
            //else if($(".calTax2:checked").length==1) {
            //    // alert("nih" + $(".calTax2").val())
            //    valCalTax = $(".calTax2").val();
            //}
            //else if($(".calTax3:checked").length==1) {
            //    valCalTax = $(".calTax3").val();
            //}
            $("input[name='calTax calTaxScreen']").each(function(x,y){
                var c =$(this).attr('class');
                if(($('.'+c+':checked').length)>0)
                {
                    valCalTax = $('.' + c + ':checked').val();
                }
            });
            var amount = removeCommas(valTaxBase);
            var tax = (valCalTax / 100) * parseFloat(amount);

            $("#invoiceTaxAmount").val(numberWithCommas(tax));

            var turnOver = removeCommas($("#turnOver").val());
            var totalAmount = parseFloat(turnOver) + tax;
            $("#totalAmount").val(numberWithCommas(totalAmount));
        }
        else {
            $("#invoiceTaxAmount").val('');
        }
    }
    // Function textbox calculate tax [end]

    // Function Stamp Included [start]
    function checkStamp() {
        var turnOver = parseInt(removeCommas($("#turnOver").val()));
        var totalAmount = parseInt(removeCommas($("#totalAmount").val()));

        if ($(".checkboxStamp:checked").length == 1) {
            if (turnOver >= 251000 && turnOver <= 1000000) {
                $("#totalAmount").val(numberWithCommas(totalAmount + 3000))
            }
            else if (turnOver > 1000000) {
                $("#totalAmount").val(numberWithCommas(totalAmount + 6000))
            }
        }
        else {
            if (turnOver >= 251000 && turnOver <= 1000000) {
                $("#totalAmount").val(numberWithCommas(totalAmount - 3000))
            }
            else if (turnOver > 1000000) {
                $("#totalAmount").val(numberWithCommas(totalAmount - 6000))
            }
        }
    }
    // Function Stamp Included [end]


     function calculateAll() {
        var taxAmount
        var taxAmountDecimal
        var taxBase = removeCommas($("#taxBase").val());
        var taxPercentage = 0;
        var turnOver = parseInt(removeCommas($("#turnOver").val()));

        if (taxBase != '') {
            if(taxBase > turnOver)
            {
                //$("#msgWarningId").text("Tax Base is greater than turn over");
                //$("#warning-confirm").modal();
                $("#taxBase").val(numberWithCommas(turnOver))
            }
            //edit fid.riani(20220427)
            //if($(".calTax1:checked").length==1) {
            //    taxPercentage = $(".calTax1").val();
            //}
            //else if($(".calTax2:checked").length==1) {
            //    taxPercentage = $(".calTax2").val();
            //}
            //else if($(".calTax3:checked").length==1) {
            //    taxPercentage = $(".calTax3").val();
            //    taxBase = turnOver;
            //    $("#taxBase").val(numberWithCommas(taxBase))
            //}
            $("input[name='calTax calTaxScreen']").each(function(x,y){
                var c =$(this).attr('class');
                if(($('.'+c+':checked').length)>0)
                {
                    taxPercentage = $('.' + c + ':checked').val();
                    if (taxPercentage == "0")
                    {
                            taxBase = turnOver;
                            $("#taxBase").val(numberWithCommas(taxBase))
                    }
                }
            });

            taxBase = removeCommas($("#taxBase").val());
            taxAmountDecimal = ((taxPercentage / 100) * (taxBase)).toFixed(2);
            taxAmount = Math.round(taxAmountDecimal * 100) / 100
            //alert((taxPercentage / 100) + "*" + taxBase + "=" + taxAmount )
            $("#invoiceTaxAmount").val(numberWithCommas(taxAmount));

        }
        else
        {
            $("#msgWarningId").text("Tax Base amount must be filled");
            $("#warning-confirm").modal();
        }

        if(taxPercentage==0)
        {
            $("#btnlookupefaktur").prop('disabled', true);
            $("#taxNo").val('');
            $("#TaxDate").val('');
            $("#taxAmount").val(0);
        }
        else
        {
            $("#btnlookupefaktur").prop('disabled', false);
        }


        if ($(".checkboxStamp:checked").length == 1) {
            if (turnOver >= 251000 && turnOver <= 1000000) {
                stamp = 3000;
            }
            else if (turnOver > 1000000) {
                stamp = 6000;
            }
        }
        else {
           stamp = 0;
        }

        totalAmount = (turnOver + taxAmount + stamp).toFixed(2)
         $("#totalAmount").val(numberWithCommas(Math.round(totalAmount * 100) / 100 ));

     }

    // Function Save Invoice [start]
       function saveInvoicePopup() {
          $("#save-confirmPopup").modal();
       }
    @*function saveInvoice() {

        valid = validateInputForm();
        //valid = true;

        if(valid) {
            GR_IR_DATA_Arrays = new Array();
            $('[name=selectedManifest]:checked').each(function () {
                //alert($(this).parent().siblings('td').eq(0).text().trim());
                GR_IR_DATA_Arrays.push({
                    GR_IR_ID:$(this).parent().siblings('td').eq(14).text().trim(),
                    VEND_CODE:$(this).parent().siblings('td').eq(7).text().trim(),
                    CURRENCY:$(this).parent().siblings('td').eq(13).text().trim()
			    });
		    });

            var paramsObj = new Object();
            paramsObj.invoice = getFormData();
            paramsObj.items = GR_IR_DATA_Arrays;

            // add attachment data
            var attachments = new Array();
            var tab = document.getElementById("table_attachment");
            var n = tab.rows.length;

            for (var i = 1; i < n; i++) {
                var docType = tab.rows[i].cells[2].innerText;
                var filename = tab.rows[i].cells[3].innerText;

                if (filename != "") {
                    docType = docType.replace("*", "");
                    docType = docType.replace(" ", "_");
                    attachments.push({
                        ATTACHMENT_TYPE: docType
                    });
                }
            }
            paramsObj.attachments = attachments;

			$.ajax({
				type : "POST",
				url : "@Html.Toyota().Page.GetActionUrl("SaveInvoice")",
				contentType: 'application/json',
				dataType: 'json',
                traditional: true,
				data: JSON.stringify(paramsObj),
                beforeSend: function () {
                    $('#saveInvoiceBtn').button('loading');
                    $('#closeInvoiceBtn').button('loading');
                },
				success : function(returnResult) {
                    if (returnResult.Result == returnResult.ValueSuccess) {
                        $("#modal-preview-invoice").modal('hide');

                        $("#msgInfoId").text("Save Data Success");
                        $("#msgInfoCertificateId").text(returnResult.SuccMesgs);
                        $("#selected-info").modal();

                        printCertificate(returnResult.Params[0],returnResult.Params[1],returnResult.Params[2]);

                        $("#sumAmount").text('');
                        $("#sumManifest").text('');

                        //clear attachment
                        var tab = document.getElementById("table_attachment");
                        var n = tab.rows.length;

                        for (var i = 1; i < n; i++) {
                            var docType = tab.rows[i].cells[2].innerText;
                            docType = docType.replace("*", "");
                            docType = docType.replace(" ", "_");
                            docType = docType.replace(/\//g, '_');

                            var filename = $("#" + docType);

                            filename.text("");
                            filename.val("");
                        }

                        searchData(pagepos);
					}
                    else {
                        $("#msgWarningId").text("Error Save : " + returnResult.ErrMesgs);
                        $("#warning-confirm").modal();
					}
                    $('#saveInvoiceBtn').button('reset');
                    $('#closeInvoiceBtn').button('reset');
				},
				error : function(returnResult) {
                    $("#msgWarningId").text("Error Save : " + returnResult.ErrMesgs);
                    $("#warning-confirm").modal();

                    $('#saveInvoiceBtn').button('reset');
                    $('#closeInvoiceBtn').button('reset');
				}
			});
        }
	}*@
    function verifyPopup() {
       //var row = 0;
       //$('[name=selected]:checked').each(function() {
       //   invoiceId = $(this).parent().siblings('td').eq(24).text().trim();
       //   row++;
       //});

       //if (row != 1) {
       //   $("#msgWarningId").text("Please select 1 data only");
       //   $("#warning-confirm").modal();
       //} else {
       //   if (status != "CREATED" && status != "NOTICE") {
       //      $("#msgWarningId").text("Can't verify invoice data");
       //      $("#warning-confirm").modal();
       //   } else {
             
       //   }
       //}
       $("#verify-confirmPopup").modal();
    }

       function confirmVerifyPopup() {
           var invoiceId = $('#invoiceId').val();
           var invoiceNo = $('#invoiceNo').val();
           $.ajax({
              type: "Post",
              url: "@Html.Toyota().Page.GetActionUrl("Verify")",
              data: {
                  InvoiceId: invoiceId,
                  InvoiceNo: invoiceNo
              },
              success: function(returnResult) {
                  if (returnResult.Result == returnResult.ValueSuccess) {
                    $("#modal-preview-invoice").modal('hide');
                    searchData(1);

                    $("#msgInfoId").text("Verify Invoice data Success");
                    $("#selected-info").modal();
                 } else {
                    $("#msgErrorId").text(returnResult.ErrMesgs);
                    $("#error-confirm").modal();
                 }
              },
              error: function(returnResult) {
                 $("#msgErrorId").text("Error in Verify Process");
                 $("#error-confirm").modal();
              }
           });
       }

    function confirmSavePopup() {
       var tab = document.getElementById("table_attachment");
       var n = tab.rows.length;
       var i = 1;
       var mandatory = [];

       for (i = 1; i < n; i++) {
          var docType = tab.rows[i].cells[2].innerText;
          var filename = tab.rows[i].cells[3].innerText;

          if (docType.substring(0, 1) == "*" && filename == "") {
             mandatory.push(docType.substring(1, docType.length));
          }
       }

       console.log(mandatory);
       if (mandatory.length) {
          $("#msgErrorId").text(mandatory.join(', ') + " is mandatory, cannot be empty");
          $("#error-confirm").modal();
          return;
       }

            var paramsObj = new Object();
            var data = new Object();
             data.INVOICE_NO = $("#invoiceNo").val().trim();
             data.INVOICE_ID = $("#invoiceId").val().trim();
             data.S_INVOICE_DATE = $("#invoiceDate").val().trim();
             data.SUPPLIER_CD = $("#supplierCd").val().trim();

            data.InvoiceAttachmentList = [];
            var i = 0;
            $("#tblDestDoc").children('tbody').children('tr:not(.hide)').each(function () { // must exclude class hide, template is hide class
               var trObj2 = jQuery(this);
               var destDoc = new Object();

               i = trObj2.attr("index");

               destDoc.FILE_NAME = trObj2.children('td').eq(DEST_DOC_COL_IDX.FileName).find("#linkDestDocFileName-1-a" + i).text().trim();
               destDoc.FILE_NAME_SERVER= trObj2.children('td').eq(DEST_DOC_COL_IDX.FileName).find("#divDestDocFileNameServer-1-a" + i).text().trim();
               data.InvoiceAttachmentList.push(destDoc);
            });

            paramsObj.invoice = data;
       // add attachment data
       var attachments = new Array();
       var tab = document.getElementById("table_attachment");
       var n = tab.rows.length;

       for (var i = 1; i < n; i++) {
          var docType = tab.rows[i].cells[2].innerText;
          var filename = tab.rows[i].cells[3].innerText;

          if (filename != "") {
             docType = docType.replace("*", "");
             docType = docType.replace(" ", "_");
             attachments.push({
                ATTACHMENT_TYPE: docType,
                FILE_NAME: filename
             });
          }
       }
       paramsObj.attachments = attachments;

			$.ajax({
				type : "POST",
				url : "@Html.Toyota().Page.GetActionUrl("SaveInvoice")",
				contentType: 'application/json',
				dataType: 'json',
                traditional: true,
				data: JSON.stringify(paramsObj),
                beforeSend: function () {
                    $('#saveInvoiceBtn').button('loading');
                    $('#closeInvoiceBtn').button('loading');
                },
				success : function(returnResult) {
                    if (returnResult.Result == returnResult.ValueSuccess) {
                        $("#modal-preview-invoice").modal('hide');

                        $("#msgInfoId").text("Save Data Success");
                        $("#selected-info").modal();


                        $("#sumAmount").text('');
                        $("#sumManifest").text('');

                        //clear attachment
                        var tab = document.getElementById("table_attachment");
                        var n = tab.rows.length;

                        for (var i = 1; i < n; i++) {
                            var docType = tab.rows[i].cells[2].innerText;
                            docType = docType.replace("*", "");
                            docType = docType.replace(" ", "_");
                            docType = docType.replace(/\//g, '_');

                            var filename = $("#" + docType);

                            filename.text("");
                            filename.val("");
                        }

					}
                    else {
                        $("#msgErrorId").text("Error Save : " + returnResult.ErrMesgs);
                        $("#error-confirm").modal();
					}
                    $('#saveInvoiceBtn').button('reset');
                    $('#closeInvoiceBtn').button('reset');
				},
				error : function(returnResult) {
                    $("#msgErrorId").text("Error Save : " + returnResult.ErrMesgs);
                    $("#error-confirm").modal();

                    $('#saveInvoiceBtn').button('reset');
                    $('#closeInvoiceBtn').button('reset');
				}
			});
    }

    function validateInputForm() {
        var valid = true;

        if ($("#invoiceNo").val() == '') {
            $("#invoiceNo").css("background-color", "#F2BCD5");
            valid = false;
        }
        else {
            $("#invoiceNo").css("background-color", "#FFFFFF");
        }

        if ($("#invoiceDate").val() == '') {
            $("#invoiceDate").css("background-color", "#F2BCD5");
            valid = false;
        }
        else {
            $("#invoiceDate").css("background-color", "#FFFFFF");
        }

        //edit fid.riani(20220427) -->edit hardcode jadi system master
        //if(valid == true &&  $(".calTax3:checked").length!=1) {
        //     if ($("#taxNo").val() == '') {
        //        $("#msgErrorId").text("Please Select EFaktur");
        //        $("#error-confirm").modal();
        //        //$("#taxNo").css("background-color", "#F2BCD5");
        //        valid = false;
        //    }
        //    else {
        //        $("#taxNo").css("background-color", "#FFFFFF");
        //    }
        //}
        var sptax = $("#div_calculate_tax").children('div#special').children().attr('class');
        if (valid == true && $("." + sptax + ":checked").length != 1) {
             if ($("#taxNo").val() == '') {
                $("#msgErrorId").text("Please Select EFaktur");
                $("#error-confirm").modal();
                //$("#taxNo").css("background-color", "#F2BCD5");
                valid = false;
            }
            else {
                $("#taxNo").css("background-color", "#FFFFFF");
            }
        }

        if(valid) {

            var turnOver = parseInt(removeCommas($("#turnOver").val()));
            var taxBase = parseInt(removeCommas($("#taxBase").val()));
            var taxamt = parseInt(removeCommas($("#taxAmount").val()));
            var invtaxamt = parseInt(removeCommas($("#invoiceTaxAmount").val()));
            var icToleranceVal = $("#ToleranceValue").html();


            if (taxamt != invtaxamt) {

                if (Math.abs(taxamt - invtaxamt) > icToleranceVal) {
                    $("#msgWarningId").text("eFaktur Amount ​​and Invoice Tax Amount must equal");
                    $("#warning-confirm").modal();
                    valid = false;
                }

                //$("#msgWarningId").text("eFaktur Amount ​​and Invoice Tax Amount must equal");
                //$("#warning-confirm").modal();
                //valid = false;
            }
            else if (taxBase > turnOver) {

                $("#msgWarningId").text("Tax Base amount greater than Turn Over amount");
                $("#warning-confirm").modal();
                valid = false;
            }
        }

        //20200811 start
        if ($("#withHoldingTax").hasClass("mandatory") && $("#withHoldingTax").val() == '') {
            $("#msgWarningId").text("Cannot select blank Witholding Tax!");
            $("#warning-confirm").modal();
            valid = false;
        }
        //20200811 end

        //validasi attachment
        var tab = document.getElementById("table_attachment");
        var n = tab.rows.length;
        var i = 1;
        var mandatory = [];

        for (i = 1; i < n; i++) {
            var docType = tab.rows[i].cells[2].innerText;
            var filename = tab.rows[i].cells[3].innerText;

            if (docType.substring(0, 1) == "*" && filename == "") {
                mandatory.push(docType.substring(1, docType.length));
            }
        }

        console.log(mandatory);
        if (mandatory.length) {
            $("#msgErrorId").text(mandatory.join(', ') + " is mandatory, cannot be empty");
            $("#error-confirm").modal();
            valid = false;
        }

        return valid;
    }

    var DEST_DOC_COL_IDX = {
        'FileName': 0
    };

    function getFormDataPopup() {

    }
    function getFormData() {
        var data = new Object();

        data.INVOICE_NO = $("#invoiceNo").val().trim();
        data.S_INVOICE_DATE = $("#invoiceDate").val().trim();
        data.TURN_OVER = $("#turnOver").val().replace(/,/g , '');
        data.TAX_BASE = $("#taxBase").val().replace(/,/g, '');
        data.WITHOLDING_TAX_CD = $("#withHoldingTax").val();//20200605
        //edit fid.riani(20220427)
        //if($(".calTax1:checked").length==1) {
        //    data.CALCULATE_TAX = $(".calTax1").val();
        //}
        //else if($(".calTax2:checked").length==1) {
        //    data.CALCULATE_TAX = $(".calTax2").val();
        //}
        //else if($(".calTax3:checked").length==1) {
        //    data.CALCULATE_TAX = $(".calTax3").val();
        //}
        $("input[name='calTax calTaxScreen']").each(function(x,y){
            var c =$(this).attr('class');
            if(($('.'+c+':checked').length)>0)
            {
                data.CALCULATE_TAX = $('.' + c + ':checked').val();
            }
        });
        var turnOver = parseInt(removeCommas($("#turnOver").val()));
        if ($(".checkboxStamp:checked").length == 1) {
            data.CHECKBOX_STAMP = 'Y';

            if (turnOver >= 251000 && turnOver <= 1000000) {
                data.STAMP_AMOUNT = 3000;
            }
            else if (turnOver > 1000000) {
                data.STAMP_AMOUNT = 6000
            }
        }
        else {
            data.CHECKBOX_STAMP = 'N';
            data.STAMP_AMOUNT = 0;
        }
        data.TOTAL_AMOUNT =	$("#totalAmount").val().replace(/,/g , '');
        data.TAX_INVOICE_NO = $("#taxNo").val();
        data.TAX_INVOICE_AMOUNT = $("#invoiceTaxAmount").val().replace(/,/g , '');

        data.InvoiceAttachmentList = [];
        var i = 0;
        $("#tblDestDoc").children('tbody').children('tr:not(.hide)').each(function () { // must exclude class hide, template is hide class
            var trObj2 = jQuery(this);
            var destDoc = new Object();

            i = trObj2.attr("index");

            destDoc.FILE_NAME = trObj2.children('td').eq(DEST_DOC_COL_IDX.FileName).find("#linkDestDocFileName-1-a" + i).text().trim();
            destDoc.FILE_NAME_SERVER= trObj2.children('td').eq(DEST_DOC_COL_IDX.FileName).find("#divDestDocFileNameServer-1-a" + i).text().trim();
            data.InvoiceAttachmentList.push(destDoc);
        });

        return data;
    }
    // Function Save Invoice [end]

    // Upload function [start]
    function uploadFile_OnChange(obj, tagUploadFileNameStr, tagUploadFileNameServerStr, tagUploadDeleteStr, isCustomUpload) {
//            popUpProgressShow();
        gTagUploadFileNameStr = tagUploadFileNameStr;
        gTagUploadFileNameServerStr = tagUploadFileNameServerStr;
        gTagUploadDeleteStr = tagUploadDeleteStr;
//            gIsCustomUpload = isCustomUpload;
        gThisObj = obj;

//            // validate request max length
//            var maxRequestLength = '@ViewData["MaxRequestLength"]';
//            if (maxRequestLength != "") {
//                if (obj.files[0].size && obj.files[0].size > parseInt(maxRequestLength)) {
//                    popUpProgressHide();
//                    showErrorMesgGrowl("Maximum upload file size is " + parseInt(maxRequestLength) / 1024 +
//                        " KB, please choose another file");

//                    return;
//                }
//            }

        obj.form.submit();
    }

    function uploadTarget_OnLoad() {
        var returnResult = JSON.parse($(window.frames["upload_target"].document.body).children("pre").html());
        console.log(returnResult);
        if (returnResult != null && returnResult.Params != null) {
//            popUpProgressHide();
//            handleAjaxResultGrowl(JSON.parse(returnResult), "Upload", onUploadFileSuccess);
            onUploadFileSuccess(returnResult);
        } else {
            $("#msgWarningId").text("Error : " + returnResult.ErrMesgs);
            $("#warning-confirm").modal();
        }
    }

    //function onUploadFileSuccess(returnResult) {
    //    var fileName = returnResult.Params[0];
    //    var fileNameServer = returnResult.Params[1];
    //    var oldFileNameServer = null;

    //    var result = $("#trDestDoc-1-a-1").clone().removeClass('hide').prop('outerHTML');

    //    var row = $("#fileDestFile").attr("data-row");
    //    var tagUploadFileNameStr = gTagUploadFileNameStr;
    //    var tagUploadFileNameServerStr = gTagUploadFileNameServerStr;
    //    //var destIndex = gDestIndex;
    //    row++;

    //    result = result.replace(/id=["'].*-a-1.*["']/gi, function myFunction(x) { return x.replace(/a-1/, "a" + row); });
    //    result = result.replace(/["'].*-a-1["']/gi, function myFunction(x) { return x.replace(/a-1/gi, "a" + row); });
    //    $("#tblDestDoc").find("tbody").append(result);

    //    $("#" + gTagUploadDeleteStr + "-a" + row).prop('onclick', null);
    //    $("#" + gTagUploadDeleteStr + "-a" + row).click(function () {
    //        deleteUploadFile(this, tagUploadFileNameStr + '-a' + row,
    //            tagUploadFileNameServerStr + '-a' + row, 'trDestDoc-1' + '-a' + row, true);
    //    });

    //    //        $("#" + gTagUploadFileNameStr + "-a" + row).prop('onclick', null);
    //    //        $("#" + gTagUploadFileNameStr + "-a" + row).click(function() {
    //    //            downloadFileOfUploadFile(tagUploadFileNameStr + '-a' + row,
    //    //                tagUploadFileNameServerStr + '-a' + row);
    //    //        });
    //    $("#" + gTagUploadFileNameStr + "-a" + row).html(fileName);
    //    $("#" + gTagUploadFileNameServerStr + "-a" + row).html(fileNameServer);
    //    $("#fileDestFile").attr("data-row", row);
    //    $("#trDestDoc-1" + "-a" + row).attr("index", row);

    //}

    function deleteUploadFile(obj, tagUploadFileNameStr, tagUploadFileNameServerStr, tagToBeRemoveStr, isCustomUpload) {
        gTagUploadFileNameStr = tagUploadFileNameStr;
        gTagUploadFileNameServerStr = tagUploadFileNameServerStr;
        gTagToBeRemoveStr = tagToBeRemoveStr;
        gUploadDelete = obj;
        gIsCustomUpload = isCustomUpload;
        //gDestIndex = destIndex;
        gThisObj = obj;

//        showConfirmMesg("Delete upload file " + $("#" + gTagUploadFileNameStr).html() + " ?", doDeleteUploadFile);
        doDeleteUploadFile();
    }

    function doDeleteUploadFile() {
        //popUpProgressShow();
        //gTagUploadFileNameStr = tagUploadFileNameStr;
        //gTagUploadFileNameServerStr = tagUploadFileNameServerStr;
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("DeleteUploadFile")",
            //contentType: 'application/json',
            dataType: 'json',
            traditional: true,
            data: {
                fileNameServer: $("#" + gTagUploadFileNameServerStr).html()
            },
            success: function (returnResult) {
                //popUpProgressHide();
                //handleAjaxResultGrowl(returnResult, "Delete Upload File", onDeleteUploadFileSuccess);
                onDeleteUploadFileSuccess();
            },
            error: function (returnResult) {
                //popUpProgressHide();
                //handleAjaxResponseErrorGrowl(returnResult, "Delete Upload File");
            }
        });
    }

    function onDeleteUploadFileSuccess() {
        //gArrDeletedFileNameServer.push($("#" + gTagUploadFileNameServerStr).html());
        if (gIsCustomUpload) {
            var row = $("#fileDestFile").attr("data-row");
            row--;
            $("#fileDestFile").attr("data-row", row);

            // adjust seq
            var currRow = $(gThisObj).closest("tr[id^=trDestDoc-]").attr("index");
            var ctr = currRow;
            $("#trDestDoc-1-a" + currRow).nextAll().each(function () {
                ctr++;
                var thisJquery = $(this);
                thisJquery.attr("index", (ctr - 1));
                thisJquery.attr("id", "trDestDoc-1-a" + (ctr - 1));

                var html = thisJquery.html();
                //var pattern = new RegExp('id=["\'].*-a' + ctr + '.*["\']', "gi");
                var pattern = new RegExp('["\'].*-a' + ctr + '.*["\']', "gi");
                var pattern2 = new RegExp('a' + ctr, "gi");
                //html = html.replace(/id=["'].*-a-1.*["']/gi, function myFunction(x){ return x.replace(/a-1/, "a" + ctr); });
                html = html.replace(pattern, function myFunction(x){ return x.replace(pattern2, "a" + (ctr - 1)); });
                thisJquery.html(html);
            });
        }

        $("#" + gTagUploadFileNameStr).html("");
        $("#" + gTagUploadFileNameServerStr).html("");

        if (gTagToBeRemoveStr != null && gTagToBeRemoveStr != "") {
            $("#" + gTagToBeRemoveStr).remove();
        } else {
            //$(gUploadDelete).addClass('hide');
            $(gUploadDelete).hide();
        }
    }
    // Upload function [end]


    function printCertificate(invoiceId,supplierCode,certificateId) {
        window.open("@Url.Action("PrintCertificate")"+"?invoiceId="+invoiceId+"&&supplierCode="+supplierCode+"&&certificateId="+certificateId);
    }

    // Upload attachment new
       function addAttachment(attachmentType) {
          var isVendor = '@Html.Toyota().Authorization.IsUserHasRole("Liv_Vendor")';
          var status = $('#invoiceStatus').val();
          if (isVendor == 'True' && status != 'CREATED') {
             $("#msgErrorId").text("Supplier cannot add or delete existing documents");
             $("#error-confirm").modal();
          } else {
             $("#modal-upload-attachment").modal();
             $("#attachmentType").val(attachmentType);
             $("#titleAttachment").text("Upload " + attachmentType.replace("_", " "));
          }
       }

       function deleteAttachment(attachmentType) {
          var isVendor = '@Html.Toyota().Authorization.IsUserHasRole("Liv_Vendor")';
          var status = $('#invoiceStatus').val();
          if (isVendor == 'True' && status != 'CREATED') {
             $("#msgErrorId").text("Supplier cannot add or delete existing documents");
             $("#error-confirm").modal();
          } else {
             attachmentType = attachmentType.replace(/\//g, '_');
             var filename = $("#" + attachmentType);
             if (filename.text() != "") {
                $("#delete-attachment").val(attachmentType);
                $("#delete-confirm").modal();
             }
          }   
        }

        function confirmDeleteAttachment() {
            var attachmentType = $("#delete-attachment").val();
            attachmentType = attachmentType.replace(/\//g, '_');
            var filename = $("#" + attachmentType);

            $.ajax({
                type : "POST",
                url : "@Html.Toyota().Page.GetActionUrl("DeleteAttachment")",
                data: {
                    attachmentType: attachmentType,
                    fileName: filename.text(),
                    fileNameServer: filename.val()
                },
                success: function (returnResult) {

                    returnResult = JSON.parse(returnResult);
                    if (returnResult.Result == returnResult.ValueSuccess) {

                        $("#msgSuccessId").text(returnResult.SuccMesgs);
                        $("#success-confirm").modal();

                        filename.text("");
                        filename.val("");

                        // disabled button verify
                        $("#verifyBtn").prop("disabled", "disabled");

                    } else {
                        $("#msgErrorId").text(returnResult.ErrMesgs);
                        $("#error-confirm").modal();
                    }
                }
            });
        }

    function viewAttachment(attachmentType) {
        attachmentType = attachmentType.replace(/\//g, '_');
        var fileName = $("#" + attachmentType).text();
        var fileNameServer = $("#" + attachmentType).val();
        var data = new Object();
        data.INVOICE_NO = $("#invoiceNo").val().trim();
        data.INVOICE_ID = $("#invoiceId").val().trim();
       data.SUPPLIER_CD = $("#supplierCd").val().trim();
        data.INVOICE_DATE = $("#invoiceDate").val().trim();
        window.open("@Url.Action("ViewAttachment")"+"?fileName="+fileName+"&fileNameServer="+fileNameServer+"&invoiceDate="+data.INVOICE_DATE+"&supplierCd="+data.SUPPLIER_CD);
    }

    $("#uploadAttachment").submit(function (e) {
        e.preventDefault();

        var attachmentType = $("#attachmentType").val();
       var invoiceId = $("#invoiceId").val();
        $(this).ajaxSubmit({
			type : "POST",
			url : "@Html.Toyota().Page.GetActionUrl("UploadAttachment")",
            data: {
               attachmentType: attachmentType,
               invoiceId:invoiceId
            },
            success: function (returnResult) {
                console.log(JSON.parse(returnResult));
                returnResult = JSON.parse(returnResult);

                if (returnResult.Result == returnResult.ValueSuccess) {
                    var fileName = returnResult.Params[0];
                    var fileNameServer = returnResult.Params[1];

                    var update = attachmentType.replace(/\//g, '_');
                    $("#" + update).text(fileName);
                    $("#" + update).val(fileNameServer);

                    $("#modal-upload-attachment").modal('hide');
                   $("#attachmentFile").val('');

                    $("#msgSuccessId").text(returnResult.SuccMesgs);
                    $("#success-confirm").modal();

                    // disabled button verify
                    $("#verifyBtn").prop("disabled", "disabled");

                } else {
                    $("#msgErrorId").text(returnResult.ErrMesgs);
                    $("#error-confirm").modal();
                }
			}
		});
    });

    function notice() {
        if ($('#noticeChat').val() == '') {
            $("#msgErrorId").text("Notice Chat should not be empty");
            $("#error-confirm").modal();
        } else {
            var noticeChat = $('#noticeChat').val();
            var invoiceId = $('#invoiceId').val();
            var invoiceNo = $('#invoiceNo').val();
            $.ajax({
            type: "Post",
            url: "@Html.Toyota().Page.GetActionUrl("NoticeChat")",
            data: {
                InvoiceId: invoiceId,
                InvoiceNo: invoiceNo,
                NoticeChat:noticeChat
            },
            success: function (returnResult) {
                if (returnResult.Result == returnResult.ValueSuccess) {
                    var htmlBuffer = "";
                    $('#noticeChat').val('');
                    returnResult.Data.forEach(function(item) {
                        //var type = item.CHAT_FROM == returnResult.Role ? "success" : "info";
                        //var float = item.CHAT_FROM == returnResult.Role ? "right" : "left";

                        var type = "";
                        var float = "";
                        if ((item.CHAT_FROM == "Finance" && returnResult.Role == "Finance") || (item.CHAT_FROM != "Finance" && returnResult.Role == "Supplier")) {
                        type = "success";
                        float = "right";
                        } else {
                        type = "info";
                        float = "left";
                        }

                        htmlBuffer +=
                        '<div class="alert alert-' +
                        type +
                        '"' +
                        ' role="alert" style="margin-bottom: 10px;width:90%;float:' +
                        float +
                        '">' +
                        '<div style="font-size:12px;font-weight: bold;">' +
                        item.CHAT_FROM +
                        '<span style="font-size:12px;float:right;color:grey">' +
                        item.CHAT_DATETIME_STR +
                        '</span></div>' +
                        '<span style="font-size:12px;color:grey">To: ' +
                        item.CHAT_TO +
                        '</span></br>' +
                        item.CHAT_MESSAGE +
                        //+ '<span>'+item.CHAT_MESSAGE+'</span></br>'+
                        '</div>';
                    });
                    $('#containerChat').html(htmlBuffer);
                } else {
                    $("#msgErrorId").text("Error in Submit Notice Process");
                    $("#error-confirm").modal();
                }
            },
            error: function(returnResult) {
                $("#msgErrorId").text("Error in Submit Notice Process");
                $("#error-confirm").modal();
            }
            });
        }
    }

    $('#modal-preview-invoice').on('hidden.bs.modal', function () {
        var url = window.location.href;
        if(url.includes('?')){
            window.location = 'InvoiceInquiry';
        }else{
            console.log('false');
        }

        //refresh notice list
        searchData(1);

        var invoiceId = $('#invoiceId').val();
        $.ajax({
            type : "POST",
            url : "@Html.Toyota().Page.GetActionUrl("DeleteAttachmentTemp")",
            data: {
                invoiceId: invoiceId
            },
            success: function (returnResult) {
                returnResult = JSON.parse(returnResult);
                console.log(returnResult.Result);
            }
        });
    })

    </script>
