@using consumable.Common.Data
@using consumable.Models
@{ 
    //List<ReceivingList> receivingList = (List<ReceivingList>)ViewData["ReceivingListInquiry"];
    List<GR_IR_DATA> receivingList = (List<GR_IR_DATA>)ViewData["ReceivingListInquiry"];
}

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed"
                    style="width: 2100px; max-width: 2000px !important;">
                    <thead>
                        <tr>
                            <th width="20px" class="grid-checkbox-col">
                                <input class="grid-checkbox" type="checkbox" style="height: 12px;" id="checkall" />
                            </th>
                            <th width="80px" data-field="PO_NO" data-sort="none">PO No</th>
                            <th width="65px" data-field="PO_ITEM" data-sort="none">
                                PO Item
                            </th>
                             <th width="80px" data-field="DN_NO" data-sort="none">DN No</th>
                            <th width="75px" data-field="DN_ITEM" data-sort="none">DN Item No</th>   
                            <th width="100px" data-field="PO_TEXT" data-sort="none">
                                Mat No
                            </th>
                            <th width="250px" data-field="PO_TEXT" data-sort="none">
                                Mat Desc
                            </th>
                            <th width="75px" data-field="PO_DATE" data-sort="none">
                                PO Date
                            </th>                             
                            <th width="105px" data-field="RECEIVING_DATE" data-sort="none">Receiving Date</th>
                            <th width="100px" data-field="SUPPLIER_CODE" data-sort="none">Supplier Code</th>
                            <th width="200px" data-field="SUPPLIER_NAME" data-sort="none">
                                Supplier Name
                            </th>  
                            <th width="110px" data-field="MATERIAL_DOC_NO" data-sort="none">Material Doc No</th>
                            <th width="50px" data-field="MATERIAL_DOC_NO" data-sort="none">Qty</th>                                                      
                            <th width="130px" data-field="AMOUNT" data-sort="none">Amount</th>
                            <th width="160px" data-field="HEADER_TEXT" data-sort="none">
                                Header Text
                            </th>
                              <th width="50px" data-field="PLANT_CODE" data-sort="none">Plant</th>     
                            <th width="50px" data-field="SLOC_CODE" data-sort="none">Sloc</th>   
                            <th width="75px" data-field="CURRENCY" data-sort="none">Currency</th> 
                            <th width="100px" data-field="USRID" data-sort="none">User ID</th> 
                            <th width="100px" data-field="GR_STATUS" data-sort="none">Status</th>  
                            <th class="hidden">GR IR ID</th>                          
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow: scroll; height: 250px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed"
                    style="width: 2100px; max-width: 2000px !important;">
                    <tbody>
                        @{
                            if (receivingList != null && receivingList.Count > 0)
                            {
                                foreach (consumable.Common.Data.GR_IR_DATA item in receivingList)
                                {
                            <tr>
                                <td width="20px" class="text-center grid-checkbox-col">
                                    @if (item.GR_STATUS != "RECEIVED" )
                                    {							         
                                        <input type="checkbox" name="selectedGR" class="check" disabled />
                                    }
                                    else
                                    {
							             <input type="checkbox" name="selectedGR" class="check" />
                                    }

                                   
                                </td>
                                <td width="80px" class="text-center">@item.PO_NUMBER</td>
                                <td width="65px" class="text-center">@item.PO_ITEM</td>
                                <td width="80px" class="text-center">@item.DN_NO</td>
                                <td width="75px" class="text-center">@item.DN_NO_ITEM</td>
                                 <td width="100px" class="text-left ellipsis" title="@item.MAT_NUMBER" style="max-width: 100px;">                                  
                                    @item.MAT_NUMBER
                                </td>
                                <td width="250px" class="text-left ellipsis" title="@item.MAT_DESCR" style="max-width: 250px;">                                  
                                    @item.MAT_DESCR
                                </td>  
                                <td width="75px" class="text-center">
                                     @(item.PO_DATE.HasValue ? item.PO_DATE.Value.ToString("dd.MM.yyyy") : string.Empty)
                                </td>
                                <td width="105px" class="text-center">
                                     @(item.MATDOC_DATE.HasValue ? item.MATDOC_DATE.Value.ToString("dd.MM.yyyy") : string.Empty)
                                </td>
                                <td width="100px" class="text-center">@item.VEND_CODE</td>
                                <td width="200px" class="text-left ellipsis" title="@item.SUPPLIER_NAME" style="max-width: 200px;">
                                    @item.SUPPLIER_NAME
                                </td>  
                                <td width="110px" class="text-center">@item.MATDOC_NUMBER</td>
                                <td width="50px" class="text-right">@item.MATDOC_QTY</td>  
                                <td width="130px" class="text-right">                                   
                                    @if (item.MATDOC_CURRENCY == "IDR")
                                    { @item.MATDOC_AMOUNT.FormatCommaSeparator() }
                                    else
                                    { @item.MATDOC_AMOUNT.FormatCommaSeparatorWithDecimal();
                                    }
                                </td>
                                <td width="160px" class="text-left ellipsis" title="@item.HEADER_TEXT" style="max-width: 160px;">
                                    @item.HEADER_TEXT
                                </td>
                                <td width="50px" class="text-center">@item.PLANT_CODE</td>
                                <td width="50px" class="text-center">@item.SLOC_CODE</td>
                                <td width="75px" class="text-center">@item.MATDOC_CURRENCY</td>
                                <td width="100px"  class="text-center">@item.USRID</td>
                                <td width="100px" class="text-center">@item.GR_STATUS</td>                                
                                <td class="hidden">@item.GR_IR_ID</td>                                    
                                                               
                            </tr>   
                                }
                            }
                            else
                            {
                            <tr>
                                <td colspan="15" class="text-center">
                                    No data retrieved.
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="13">
                                @Html.Partial("_UIPaging")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("document").ready(function () {
        $("#checkall").click(function () {       
            $(".check:enabled").prop("checked", $("#checkall").is(":checked"));
        });
    });
    
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
        $("#tScrollFilter").scrollLeft($("#tScrollBody").scrollLeft());
    });

    var table = document.getElementById("dynamic-table");
    if (table != null) {
        for (var i = 0; i < table.rows.length; i++) {
            for (var j = 0; j < table.rows[i].cells.length; j++) {
                table.rows[i].cells[j].onclick = function () {
                    tableText(this);
                    sorting_execute = '1';
                };
            }
        }
    }

    // Sorting function [start]
    function tableText(tableCell) {
        var removeClass;
        var addClass;
        var dataSort;

        if (tableCell.getAttribute("class").indexOf('sorting') >= 0) {
            if (tableCell.getAttribute("class").indexOf('sorting_asc') >= 0) {

                removeClass = 'sorting_asc';
                addClass = 'sorting_desc';
                dataSort = 'desc';

            } else if (tableCell.getAttribute("class").indexOf('sorting_desc') >= 0) {

                removeClass = 'sorting_desc';
                addClass = 'sorting_none';
                dataSort = 'none';

            } else {

                removeClass = 'sorting_none';
                addClass = 'sorting_asc';
                dataSort = 'asc';

            }
        }

        //reset all
        var tableReset = document.getElementById("dynamic-table");
        if (tableReset != null) {
            for (var i = 0; i < tableReset.rows.length; i++) {
                for (var j = 0; j < tableReset.rows[i].cells.length; j++) {

                    if (tableReset.rows[i].cells[j].className.indexOf('sorting_asc') >= 0) {
                        tableReset.rows[i].cells[j].classList.remove('sorting_asc');
                        tableReset.rows[i].cells[j].classList.add('sorting');
                        tableReset.rows[i].cells[j].dataset.sort = 'none';
                    }

                    if (tableReset.rows[i].cells[j].className.indexOf('sorting_desc') >= 0) {
                        tableReset.rows[i].cells[j].classList.remove('sorting_desc');
                        tableReset.rows[i].cells[j].classList.add('sorting');
                        tableReset.rows[i].cells[j].dataset.sort = 'none';
                    }

                }
            }
        }
        // end

        if (tableCell.getAttribute("class").indexOf('sorting') >= 0) {
            tableCell.classList.remove(removeClass);
            tableCell.classList.add(addClass);
            tableCell.dataset.sort = dataSort;

            if (pagepos == null) pagepos = 1;
            
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetReceivingListSort")' + '?poNoSearch=' + $('#poNoSearch').val() +
                    '&&supplierSearch=' + $('#supplierSearch').val() + '&&poDateSearch=' + $('#poDateSearch').val() +
                    '&&statusSearch=' + $('#txtstatus').val() + '&&page=' + pagepos + '&&size=' + $("#pageSize").val() +
                    '&&field=' + tableCell.dataset.field + '&&sort=' + dataSort,
//                data: {
//                    field: tableCell.dataset.field,
//                    sort: dataSort
//                },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $("#tblScroll").find('tbody').html(result);
                }
            });
        }
    }
    // Sorting function [start]

    // open popup preview material [start]
    function openPopupMaterial(poNumber, poItem, poDate, vendCode, grStatus, poText, invoiceId) {
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GetReceivingListDetail")",
            data: {
                poNumber: poNumber,
                poItem: poItem,
                poDate: poDate,               
                vendCode: vendCode,
                grStatus: grStatus,
                invoiceId: invoiceId
            },
            //beforeSend:function () {$('#btnSearch').button('loading');},
            success: function (data) {
                $("#matDocDetailPopUp").html(data);

                $("#modal-preview-material").modal();
                $("#poNumber").text(poNumber);
                $("#poItem").text(poItem);
                $("#poText").text(poText);
            }

        });
    }
    // open popup preview material [end]
</script>
