<div id="tblPopupSlocSearch" class="table-responsive multiselect-item filter" style="overflow: hidden;">
    <div style="border: 1pt solid #ccc;">
        <table class="table table-striped table-bordered table-condensed table-fixed">
            <thead>
                <tr>
                    <th class="text-center" style="width: 60px; max-width: 60px">
                        Sloc Code
                    </th>
                    <th class="text-center" style="width: 218px; max-width: 218px">
                        Sloc Name
                    </th>
                    <th class="text-center" style="width: 8px; max-width: 8px"> </th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="overflow: scroll; height: 153px;">
        <table class="table table-striped table-bordered table-condensed table-fixed">
            @foreach (var item in (List<consumable.Models.SLOC.Sloc>)ViewData["Sloc"])
            {
                <tr>
                    <td class="text-center cursor-link" style="width: 80px; max-width: 80px" onclick="javascript:gridLookupSlocSearchSelected('@item.SLOC_CD')">
                        @item.SLOC_CD
                    </td>
                    <td class="text-left cursor-link" style="width: 288px; max-width: 288px" onclick="javascript:gridLookupSlocSearchSelected('@item.SLOC_CD')">
                        @item.SLOC_NAME
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="13">
                        @Html.Partial("_UIPagingLookup")
                        <script type="text/javascript" language="javascript">
                            $(".IndexPagingLookup").click(function () {
                                var pg = $(this).attr('Page');
                                onLookupSlocSearch(pg);
                            });
                        </script>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>