@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var paraminitialpodate = ViewData["paraminitialpodate"].ToString();
    var paraminitialprocstatus = ViewData["paraminitialprocstatus"].ToString();
    var paraminitialsuppstatus = ViewData["paraminitialsuppstatus"].ToString();
    var initialdaterange_string = ViewData["initialdaterange"].ToString();
    int initialdaterange = Int32.Parse(initialdaterange_string);
}
@section HeadScript{
    <!-- Bootstrap Datepicker css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/datepicker.css")" />
    <!-- Daterange picker css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/daterangepicker.css")" />
    <!-- Dropzone file css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/dropzone.css")" />
    <style type="text/css">
        .datepicker.dropdown-menu {
            z-index: 2000 !important;
        }

        .modal-icon {
            height: 35px;
        }

        .twitter-typeahead {
            width: 100%;
        }
    </style>
}
<div class="hidden-xs">
    <br />
    @Html.Partial("_SearchCriteria")
    <div class="text-center" style="margin-bottom: 5px;">
        <hr id="hrsrc" style="margin: 0; padding: 0;" />
        @*<button onclick="javascript:toggleSearch()" type="button" class="fa fa-chevron-up btn btn-primary btn-xs btn-tiny-down" id="toogle-search"></button>*@
    </div>
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-xs-2 col-sm-2 col-md-2 text-left">
            @*<button type="button" class="btn btn-primary btn-danger btn-xs" onclick="javascript:searchData()">
                Cancel Invoice</button>*@
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 text-right">
            <button data-rel="tooltip" title="Hide filter" onclick="javascript:toggleSearch()"
                    type="button" class="ace-icon fa fa-angle-double-up btn btn-default btn-xs btn-tiny-down"
                    id="toogle-search" style="top: 6px;">
            </button>
            <input type="text" id="btnLostFocus" style="display: block; height: 1px; width: 1px;
                border: none;" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
            <div class="form-group-xs _criteria">
                @*20200812*@
                <button type="button" class="fa fa-save btn btn-success btn-xs" style="padding: 6px;"
                        onclick="javascript:PoProcess()">
                    <span style="font-family: Open Sans; font-size: 12px">Process</span>
                </button>
            </div>
        </div>
    </div>
    <div id="tablegrid">
        @Html.Partial("_GridView")
    </div>
</div>
<div id="error-confirm" class="modal fade">
    <div class="modal-dialog modal-md" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                    <span aria-hidden="true">
                        <img src="@Url.Content("~/Content/Bootstrap/img/Error.png")" class="modal-icon" />
                    </span><span class="sr-only">Close</span>
                </div>
                <h4 class="modal-title">
                    Error
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-left: 10px;">
                    <div id="msgErrorId">
                        &nbsp;
                    </div>
                </div>
                <div class="row" style="text-align: right; padding-right: 10px; padding-top: 15px;">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="process-confirm" class="modal fade">
    <div class="modal-dialog modal-md" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                    <span aria-hidden="true">
                        <img src="@Url.Content("~/Content/Bootstrap/img/question.png")" class="modal-icon" />
                    </span>
                    <span class="sr-only">Close</span>
                </div>
                <h4 class="modal-title">
                    Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-left: 10px;">
                    <div id="msgConfirmId">
                        Are you sure want to process ?
                    </div>
                </div>
                <div class="row" style="text-align: right; padding-right: 0px; padding-top: 5px;
                    margin-top: 10px;">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">
                        Confirm
                    </button>
                    <button class="btn btn-danger btn-xs" data-dismiss="modal" style="width: 60px;">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="warning-confirm" class="modal fade">
    <div class="modal-dialog modal-md" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                    <span aria-hidden="true">
                        <img src="@Url.Content("~/Content/Bootstrap/img/Warning.png")" class="modal-icon" />
                    </span>
                    <span class="sr-only">Close</span>
                </div>
                <h4 class="modal-title">
                    Warning
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-left: 10px;">
                    <div id="msgWarningId">
                        &nbsp;
                    </div>
                </div>
                <div class="row" style="text-align: right; padding-right: 10px; padding-top: 5px;">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="success-confirm" class="modal fade">
    <div class="modal-dialog modal-md" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                    <span aria-hidden="true">
                        <img src="@Url.Content("~/Content/Bootstrap/img/information.png")" class="modal-icon" />
                    </span><span class="sr-only">Close</span>
                </div>
                <h4 class="modal-title">
                    Information
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-left: 10px;">
                    <div id="msgSuccessId">
                        &nbsp;
                    </div>
                </div>
                <div class="row" style="text-align: right; padding-right: 10px; padding-top: 15px;">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section BodyScript{
    <!-- Bootstrap Datepicker js -->
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/bootstrap-datepicker.js")"></script>
    <!-- Daterange picker js -->
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/moment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/daterangepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/progressbox.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sumManifest").text("0");

            $('#poCreatedDateSearch').val('@paraminitialpodate');
            $('#processedSearch').val('@paraminitialprocstatus');
            $('#supplierStatusSearch').val('@paraminitialsuppstatus');
            searchData(1);
        });

        //global variable

        //to translate the daterange picker, please copy the "examples/daterange-fr.js" contents here before initialization
        $('input[name=date-range-picker]').daterangepicker({
            dateLimit: { days: @initialdaterange },
            format: 'DD.MM.YYYY',
			'applyClass': 'btn-sm btn-success',
			'cancelClass': 'btn-sm btn-default',
			locale: {
				applyLabel: 'Apply',
				cancelLabel: 'Cancel'
			}
        })
		.prev().on(ace.click_event, function () {
			$(this).next().focus();
        });

        function podatekeypress(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
                $('#poCreatedDateSearch').data('daterangepicker').hide();
                podatevalidate();
            }
        }

        function podatevalidate() {
             $.ajax({
                type: "Post",
                url: "@Html.Toyota().Page.GetActionUrl("validateDateRangePicker")",
                data: {
                    poDateSearch: $("#poCreatedDateSearch").val()
                },
                beforeSend: function () {
                },
                success: function (data) {
                    if (data.Result == data.ValueError) {
                        $("#msgErrorId").text(data.ErrMesgs[0]);
                        $("#error-confirm").modal();
                        $("#poCreatedDateSearch").val('@paraminitialpodate');
                    }
                },
                complete: function () {
                     searchData(1);
                },
                error: function(result) {
                }
            });
        }

        //datepicker plugin [start]
		//link
		$('.date-picker').datepicker({
		    autoclose: true,
		    todayHighlight: true
		})
		//show datepicker when clicking on the icon
		.next().on(ace.click_event, function () {
			$(this).prev().focus();
		});
        //datepicker plugin [end]

		function toggleSearch() {
			$("._criteria").toggle(200, "linear");

			if ($("#toogle-search").hasClass("fa-angle-double-up")) {
				$("#toogle-search").removeClass("fa-angle-double-up");
				$("#toogle-search").addClass("fa-angle-double-down");
				$("#toogle-search").removeClass("btn-tiny-down");
				$("#toogle-search").addClass("btn-tiny-down");
				document.getElementById('hrsrc').style.display = 'none';
				$("#tScrollBody").height(450);
				$("#toogle-search").prop('title', 'Show filter');
			}
			else {
				$("#toogle-search").removeClass("fa-angle-double-down");
				$("#toogle-search").addClass("fa-angle-double-up");
				$("#toogle-search").removeClass("btn-tiny-down");
				$("#toogle-search").addClass("btn-tiny-down");
				document.getElementById('hrsrc').style.display = 'block';
				$("#tScrollBody").height(325);
				$("#toogle-search").prop('title', 'Hide filter');
			}
			//document.getElementById("btnLostFocus").focus();
			$("#toogle-search").blur();
			//var text = $("#lnsearch-toggle").text();
			//$("#lnsearch-toggle").text(text == "More search criteria" ? "Less search criteria" : "More search criteria");
		}

		function ToggleGrid() {
			//$("._toggle-detail").toggle(200, "linear"); //harusnya kanan ke kiri


			var text = $("#grid-toggle").html();
			if (text == "Show detail") {
				$("#grid-toggle").html("Hide detail");
				$("._toggle-detail").show();
				$("#grid-toggle").prop('title', 'Hide detail grid');
			}
			else {
				$("#grid-toggle").html("Show detail");
				$("._toggle-detail").hide();
				$("#grid-toggle").prop('title', 'Show detail grid');
			}
		}

        // Lookup function search supplier [start]
        function gridlookupSelected(setValue) {
            var result = '';
            if (($(".gridLookup-checkbox-body:checked").length > 0)&&(setValue == 'OK')) {
                for(i=0; i<$(".gridLookup-checkbox-body").length; i++) {
                    if ($(".gridLookup-checkbox-body")[i].checked)
                        result = result + ((result != '')?';':'') + $(".gridLookup-checkbox-body")[i].dataset.value;
                }

                $("#supplierSearch").val(result);
            }

            if (setValue == 'CS'){
                $(".gridLookup-checkbox-body").prop('checked', false);
                $("#supplierSearch").val('');
            }

            closePopup();
        }

        // Open popup search Supplier
        function openPopup() {
            $("#txtSearchLookupSupplier").val('');
            if ($("#btn-group").hasClass('open'))
                $("#btn-group").removeClass('open')
            else
                $("#btn-group").addClass('open')
        }

        function closePopup() {
            $("#txtSearchLookupSupplier").val('');
            $("#btn-group").removeClass('open')
        }

        function clearPopupFilter() {
            $("#txtSearchLookupSupplier").val('');
        }

        function onEnterSearchDataLookupSupplier(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
                onLookupSupplier(1);
            }
        }

        $("#btnSearchLookupSupplier").click(function(){
            onLookupSupplier(1);
        });

        function onLookupSupplier(page) {
            $.ajax({
                type: "Post",
                url: "@Html.Toyota().Page.GetActionUrl("onLookupSupplier")",
                data: {
                    Parameter:$('#txtSearchLookupSupplier').val(),
                    PartialViewSearchAndInput:'_LookupTableSupplier',
                    Page:page
                },
                beforeSend: function () {
                    $('#btnSearchLookupSupplier').button('loading');
                },
                success: function (result) {
                    $("#tblSupplierPopupSearch").html(result);
                },
                complete: function () {
                    $('#btnSearchLookupSupplier').button('reset');
                },
                error: function(result) {
                   $('#btnSearchLookupSupplier').button('reset');
                }
            });
        }
        // Lookup function search supplier [end]

        function updateManifest() {
            var total = 0;
            $('[name=selectedManifest]:checked').each(function () {
                total++;
            });

            $("#sumManifest").text(total);
        }


        // Function Search [start]
        function onEnterSearchData(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
                searchData(1);
            }
        }

        function searchData(page) {
            if(page==null)page=1;
            pagepos=page;

            var pageSize = $("#pageSize").val();

            $.ajax({
                type: "Post",
                url: "@Html.Toyota().Page.GetActionUrl("validateDateRangePicker")",
                data: {
                    poDateSearch: $("#poCreatedDateSearch").val()
                },
                beforeSend: function () {
                },
                success: function (data) {
                    if (data.Result == data.ValueError) {
                        $("#msgErrorId").text(data.ErrMesgs[0]);
                        $("#error-confirm").modal();
                        $("#poCreatedDateSearch").val('@paraminitialpodate');
                        $('#poCreatedDateSearch').data('daterangepicker').hide();
                        searchData(1);
                    } else {
                        //
                        $.ajax({
				            type: "POST",
				            url: "@Html.Toyota().Page.GetActionUrl("search")",
				            data: {
                                poDateSearch: $('#poCreatedDateSearch').val(),
                                supplierSearch: $('#supplierSearch').val(),
                                poNoSearch: $('#poTextSearch').val(),
                                matDocNoSearch: $('#dnNoSearch').val(),
                                procStatusSearch: $('#processedSearch').val(),
                                suppStatusSearch: $('#supplierStatusSearch').val(),
                                page: page,
                                size: $("#pageSize").val()
				            },
				            beforeSend: function () {
                                $('#btnSearch').button('loading');
                            },
				            success: function (data) {
					            $("#tablegrid").html(data);
                                $("#pageSize").val(pageSize);
                                $("#sumManifest").text("0");
				            },
				            complete: function () {
                                $('#btnSearch').button('reset');
                            },
                            error: function(data) {
                                $('#btnSearch').button('reset');
                            }
                        });
                        //
                    }
                },
                complete: function () {
                },
                error: function(result) {
                }
            });

		}
        // Function Search [end]

        function clearData() {
            $("#poCreatedDateSearch").val('@paraminitialpodate');
            $("#supplierSearch").val('');
            $('#processedSearch').val('');
            $('#supplierStatusSearch').val('');
            $("#dnNoSearch").val('');
            $('#poTextSearch').val('')
            searchData(1);
        }

        function PoProcess() {
            var valid = true;
            var arr_GR_IR_ID = [];
            $('[name=selectedManifest]:checked').each(function () {
                var gr_ir_id = $(this).parent().siblings('td').eq(15).text();
                if ($.inArray(gr_ir_id, arr_GR_IR_ID) == -1) {
                    arr_GR_IR_ID.push(gr_ir_id);
                }
            });
            if (arr_GR_IR_ID.length < 1) {
                $("#msgWarningId").text("Please select data.");
                $("#warning-confirm").modal();
                valid = false;
            } else {
                if (valid) {
                    var selectedKeys = arr_GR_IR_ID.join(";");
                    $.progressbox.show("Process", "Data processing . . .");
                    $.ajax({
                        type: "POST",
                        url: "@Html.Toyota().Page.GetActionUrl("processPoTemporary")",
                        data: {
                            keys: selectedKeys
                        },
                        complete: function () { $.progressbox.hide(); },
                        success: function (data) {
                            $("#msgSuccessId").empty();
                            $("#msgSuccessId").html(ReformatAlertMessage(data.result));
                            $("#success-confirm").modal();
                            searchData(1);
                        },
                        error: function (data) {
                            $("#msgWarningId").text(data.responseText);
                            $("#warning-confirm").modal();
                        },
                    });

                }
            }
        }
        function ReformatAlertMessage(str)
        {
            str = str.replace(',',',<br>');
            return str;
        }
    </script>
}
